<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.digitalhouse.moviematch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".login.LoginActivity"></activity>
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".perfil.PerfilActivity" />
        <activity android:name=".deu_match.DeuMatchActivity" />
        <activity android:name=".dar_match.DarMatchActivity" />
        <activity android:name=".favoritos.DetalheFavoritosActivity" />
        <activity android:name=".favoritos.FavoritosActivity" />
        <activity android:name=".cadastro.CadastroUsuarioActivity" />
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>